@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto:wght@100&display=swap");
body header nav .divLogo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }
  body header nav .divLogo img {
    height: 150px;
    margin: 20px; }
  body header nav .divLogo h1 {
    /* TAMAÑO DE LA LETRA, ESTILO Y ALINEACION DEL ENCABEZADI */
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    font-family: 'MonteCarlo', cursive;
    /* background-color: #007cb9; */
    /* background: rgb(9,181,217);
                    background: linear-gradient(0deg, rgba(9,181,217,1) 0%, rgba(0,124,185,1) 100%); */
    background: #46baf2;
    background: radial-gradient(circle, #46baf2 0%, white 85%);
    /* border: 2px solid black; */
    margin-left: 20%; }

body header nav ul {
  /* ESPACIADO ENTRE PALABRAS */
  word-spacing: 20px;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-top: 20px; }
  body header nav ul .item {
    /* BOX MODELING: BORDES Y DISPLAY */
    /* MODIFICACIONES TEXTO: ESTILO, WEIGHT, TAMAÑO */
    /* BACKGROUND: COLOR DE FONDO */
    font-weight: bolder;
    font-style: oblique;
    border: 2px solid black;
    border-radius: 4rem;
    font-size: 24px;
    background-color: #bae8e8;
    margin-right: 30px;
    padding: 10px;
    text-align: center;
    transition: all 2s; }
    body header nav ul .item:hover {
      background-color: #3baea0;
      width: 130px; }
    body header nav ul .item .ancla {
      text-decoration: none; }

@media (min-width: 400px) and (max-width: 768px) and (max-height: 1024px) {
  body header nav .divLogo h1 {
    font-size: 4rem;
    margin-left: 0%; } }

@media (max-width: 375px) and (max-height: 812px) {
  body header nav {
    width: 375px; }
    body header nav .divLogo img {
      width: 90px;
      height: 100px; }
    body header nav .divLogo h1 {
      font-size: 35px;
      margin-left: 0%; }
    body header nav ul {
      justify-content: center;
      margin-left: 0%; }
      body header nav ul .item {
        font-size: 13px;
        margin-right: 10px;
        margin-left: 5px; } }

.pieDePagina {
  /* FONDO DEL FOOTER Y DISPLAY */
  font-size: 20px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #46baf2;
  background: linear-gradient(90deg, #46baf2 0%, white 45%, white 46%, white 47%, white 48%, white 49%, white 50%, white 51%, white 52%, white 53%, white 54%, white 55%, white 56%, white 57%, white 58%, white 59%, white 60%, #46baf2 100%); }
  .pieDePagina .miMapa {
    margin-top: 50px; }
  .pieDePagina ul li .linkFooter {
    text-decoration: none;
    word-spacing: normal;
    font-size: 26px; }
  .pieDePagina div .redSocial {
    width: 50px;
    margin-left: 30px; }

@media (max-width: 375px) and (max-height: 812px) {
  body .pieDePagina .miMapa {
    margin-left: 0%; }
    body .pieDePagina .miMapa iframe {
      width: 350px; }
  body div {
    margin-bottom: 20px; } }

body main .fondoPrincipal .tituloCarousel {
  margin-top: 70px;
  color: #0092ca;
  font-style: italic;
  text-align: center; }

body main #carouselExampleControls .carouselInner div #fotoCarrousel {
  width: 200px; }

body main section .introduccion {
  text-align: center;
  font-size: 22px;
  margin-top: 60px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

body main section .subtitulo {
  margin-top: 70px;
  color: #0092ca;
  font-style: italic;
  text-align: center; }

body main section .quienesSomos {
  padding: 20px;
  line-height: 45px;
  font-size: 23px; }

body main .recomendacion {
  margin-top: 30px;
  margin-left: 550px;
  font-size: 24px; }

body main .marcas {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 150px; }
  body main .marcas div .fotosPatrocinios {
    margin-left: 150px;
    margin-top: 50px;
    width: 120px; }
  body main .marcas div .nombreMarcas {
    font-size: 20px;
    font-weight: bold;
    margin-left: 45px;
    margin-top: 40px; }
  body main .marcas div #pintureria {
    margin-left: 90px; }
  body main .marcas div #ventanas {
    margin-left: 100px; }

body main .todasEnCompra {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr auto;
  row-gap: 20px;
  grid-template-areas: "foto1 descripcion1" "foto2 descripcion2" "foto3 descripcion3" "foto4 descripcion4" "foto5 descripcion5"; }
  body main .todasEnCompra .fotoCasa1 {
    grid-area: foto1;
    border: 2px solid black;
    height: 426px; }
    body main .todasEnCompra .fotoCasa1 .primeraFoto {
      height: 422px;
      width: 646px; }
  body main .todasEnCompra .descripcionCasa1 {
    font-size: 20px;
    text-align: left;
    grid-area: descripcion1;
    border: 2px solid black;
    border-left: none;
    height: 426px; }
    body main .todasEnCompra .descripcionCasa1 .textoCasa1 {
      padding: 30px; }
    body main .todasEnCompra .descripcionCasa1 #botonDetalles {
      margin-left: 85%;
      margin-top: 140px;
      font-size: 20px; }
  body main .todasEnCompra .fotoCasa2 {
    grid-area: foto2;
    border: 2px solid black;
    height: 363px; }
    body main .todasEnCompra .fotoCasa2 .segundaFoto {
      height: 359px;
      width: 646px; }
  body main .todasEnCompra .descripcionCasa2 {
    font-size: 20px;
    text-align: left;
    grid-area: descripcion2;
    border: 2px solid black;
    border-left: none; }
    body main .todasEnCompra .descripcionCasa2 .textoCasa2 {
      padding: 30px; }
    body main .todasEnCompra .descripcionCasa2 #botonDetalles2 {
      margin-left: 85%;
      margin-top: 50px;
      font-size: 20px; }
  body main .todasEnCompra .fotoCasa3 {
    grid-area: foto3;
    width: 650px;
    border: 2px solid black;
    height: 420px; }
    body main .todasEnCompra .fotoCasa3 .terceraFoto {
      width: 646px; }
  body main .todasEnCompra .descripcionCasa3 {
    font-size: 20px;
    text-align: left;
    grid-area: descripcion3;
    border: 2px solid black;
    border-left: none;
    height: 420px; }
    body main .todasEnCompra .descripcionCasa3 .textoCasa3 {
      padding: 30px; }
    body main .todasEnCompra .descripcionCasa3 #botonDetalles3 {
      margin-left: 85%;
      margin-top: 80px;
      font-size: 20px; }
  body main .todasEnCompra .fotoCasa4 {
    grid-area: foto4;
    width: 650px;
    border: 2px solid black;
    height: 420px; }
    body main .todasEnCompra .fotoCasa4 .cuartaFoto {
      width: 646px;
      height: 416px; }
  body main .todasEnCompra .descripcionCasa4 {
    font-size: 20px;
    text-align: left;
    grid-area: descripcion4;
    border: 2px solid black;
    border-left: none;
    height: 420px; }
    body main .todasEnCompra .descripcionCasa4 .textoCasa4 {
      padding: 30px; }
    body main .todasEnCompra .descripcionCasa4 #botonDetalles4 {
      margin-left: 85%;
      margin-top: 80px;
      font-size: 20px; }
  body main .todasEnCompra .fotoCasa5 {
    grid-area: foto5;
    width: 650px;
    border: 2px solid black;
    height: 420px; }
    body main .todasEnCompra .fotoCasa5 .quintaFoto {
      width: 646px;
      height: 417px; }
  body main .todasEnCompra .descripcionCasa5 {
    font-size: 20px;
    text-align: left;
    grid-area: descripcion5;
    border: 2px solid black;
    border-left: none;
    height: 420px; }
    body main .todasEnCompra .descripcionCasa5 .textoCasa5 {
      padding: 30px; }
    body main .todasEnCompra .descripcionCasa5 #botonDetalles5 {
      margin-left: 85%;
      margin-top: 80px;
      font-size: 20px; }

/* /COMPRA */
/* ALQUILER */
body main .todasEnAlquiler {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr auto;
  row-gap: 20px;
  grid-template-areas: "fotoAlquiler1 descripcionAlquiler1" "fotoAlquiler2 descripcionAlquiler2" "fotoAlquiler3 descripcionAlquiler3" "fotoAlquiler4 descripcionAlquiler4" "fotoAlquiler5 descripcionAlquiler5"; }
  body main .todasEnAlquiler .fotoAlquiler1 {
    grid-area: fotoAlquiler1;
    border: 2px solid black;
    height: 426px; }
    body main .todasEnAlquiler .fotoAlquiler1 .primeraFoto {
      height: 422px; }
  body main .todasEnAlquiler .descripcionAlquiler1 {
    grid-area: descripcionAlquiler1;
    font-size: 20px;
    border: 2px solid black;
    border-left: none; }
    body main .todasEnAlquiler .descripcionAlquiler1 .textoAlquiler1 {
      padding: 30px; }
    body main .todasEnAlquiler .descripcionAlquiler1 #botonDetallesAlquiler1 {
      margin-left: 85%;
      margin-top: 120px;
      font-size: 20px; }
  body main .todasEnAlquiler .fotoAlquiler2 {
    grid-area: fotoAlquiler2;
    border: 2px solid black;
    height: 360px; }
    body main .todasEnAlquiler .fotoAlquiler2 .segundaFoto {
      height: 356px;
      width: 634px; }
  body main .todasEnAlquiler .descripcionAlquiler2 {
    grid-area: descripcionAlquiler2;
    font-size: 20px;
    border: 2px solid black;
    border-left: none; }
    body main .todasEnAlquiler .descripcionAlquiler2 .textoAlquiler2 {
      padding: 30px; }
    body main .todasEnAlquiler .descripcionAlquiler2 #botonDetallesAlquiler2 {
      margin-left: 85%;
      margin-top: 80px;
      font-size: 20px; }
  body main .todasEnAlquiler .fotoAlquiler3 {
    grid-area: fotoAlquiler3;
    border: 2px solid black;
    height: 425px; }
    body main .todasEnAlquiler .fotoAlquiler3 .terceraFoto {
      height: 421px;
      width: 634px; }
  body main .todasEnAlquiler .descripcionAlquiler3 {
    grid-area: descripcionAlquiler3;
    font-size: 20px;
    border: 2px solid black;
    border-left: none; }
    body main .todasEnAlquiler .descripcionAlquiler3 .textoAlquiler3 {
      padding: 30px; }
    body main .todasEnAlquiler .descripcionAlquiler3 #botonDetallesAlquiler3 {
      margin-left: 85%;
      margin-top: 125px;
      font-size: 20px; }
  body main .todasEnAlquiler .fotoAlquiler4 {
    grid-area: fotoAlquiler4;
    border: 2px solid black;
    height: 360px; }
    body main .todasEnAlquiler .fotoAlquiler4 .cuartaFoto {
      height: 356px;
      width: 634px; }
  body main .todasEnAlquiler .descripcionAlquiler4 {
    grid-area: descripcionAlquiler4;
    font-size: 20px;
    border: 2px solid black;
    border-left: none; }
    body main .todasEnAlquiler .descripcionAlquiler4 .textoAlquiler4 {
      padding: 30px; }
    body main .todasEnAlquiler .descripcionAlquiler4 #botonDetallesAlquiler4 {
      margin-left: 85%;
      margin-top: 80px;
      font-size: 20px; }
  body main .todasEnAlquiler .fotoAlquiler5 {
    grid-area: fotoAlquiler5;
    border: 2px solid black;
    height: 360px; }
    body main .todasEnAlquiler .fotoAlquiler5 .quintaFoto {
      height: 356px;
      width: 634px; }
  body main .todasEnAlquiler .descripcionAlquiler5 {
    grid-area: descripcionAlquiler5;
    font-size: 20px;
    border: 2px solid black;
    border-left: none; }
    body main .todasEnAlquiler .descripcionAlquiler5 .textoAlquiler5 {
      padding: 30px; }
    body main .todasEnAlquiler .descripcionAlquiler5 #botonDetallesAlquiler5 {
      margin-left: 85%;
      margin-top: 80px;
      font-size: 20px; }

/* GALERÍA */
body main div h2 {
  text-align: center;
  background-color: white;
  color: black;
  font-style: italic;
  font-family: 'MonteCarlo', cursive;
  font-size: 4rem; }

body main .contenedorFotos {
  display: flex;
  flex-flow: row wrap; }
  body main .contenedorFotos #galeriaPrimera {
    width: 875px; }
  body main .contenedorFotos #img-8 {
    width: 600px; }
  body main .contenedorFotos #img-12 {
    width: 600px; }

body main div h2 {
  font-size: 3rem;
  font-style: italic;
  text-align: center;
  font-family: 'MonteCarlo', cursive; }

body main form {
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  margin-left: 22%; }
  body main form legend, body main form label {
    font-size: 28px;
    text-decoration: underline;
    text-align: center;
    padding: 50px;
    padding-bottom: 10px; }
  body main form span {
    display: block;
    padding-top: 30px; }
    body main form span label {
      font-size: 22px;
      font-weight: bold;
      text-align: center; }
    body main form span input {
      margin-left: 10px;
      font-size: 20px; }
    body main form span textarea {
      font-size: 20px;
      margin-left: 360px;
      margin-bottom: 30px; }
    body main form span .miBoton {
      margin-left: 100px;
      margin-bottom: 30px;
      background-color: #bae8e8;
      padding: 10px;
      border: 2px solid black;
      border-radius: 30px; }
    body main form span .botonRestablecer {
      margin-left: 10px;
      margin-right: 30px;
      margin-bottom: 30px;
      background-color: #bae8e8;
      padding: 10px;
      border: 2px solid black;
      border-radius: 30px; }

/*MAP*/
.introduccion {
  color: blue; }

.quienesSomos {
  color: green; }

/*MAP GET*/
.subtitulo {
  background-color: green;
  font-size: 32px; }

/*EXTEND*/
legend, label {
  color: red;
  font-size: 20px; }

label {
  font-weight: lighter; }

/*MIXIN CON PARAMETROS*/
.nombreMarcas {
  color: red;
  font-weight: bolder; }

/*VERSION IPAD 768X1024 */
@media (min-width: 400px) and (max-width: 768px) and (max-height: 1024px) {
  .contenedorPadre {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer"; }
  header {
    grid-area: header; }
  main {
    grid-area: main; }
  footer {
    grid-area: footer; }
  .contenedorPadre {
    width: 768px; }
    .contenedorPadre main {
      width: 768px; }
      .contenedorPadre main section .subtitulo {
        font-size: 3rem; }
      .contenedorPadre main section .quienesSomos {
        text-align: center; }
      .contenedorPadre main .recomendacion {
        text-align: center;
        margin-left: 5px; }
      .contenedorPadre main .marcas div #seguridadInformatica {
        margin-right: 40px; }
      .contenedorPadre main .marcas div #ciberseguridad {
        text-align: center;
        margin-left: 110px; }
      .contenedorPadre main .marcas div #pintureria {
        margin-right: 5px; }
      .contenedorPadre main .marcas div #descripcionPintureria {
        text-align: center;
        margin-left: 55px; }
      .contenedorPadre main .marcas div #marcaVentanas {
        text-align: center;
        margin-left: 85px;
        margin-right: 0%; } }

/*INDEX*/
/*GALERÍA*/
@media (min-width: 400px) and (max-width: 768px) and (max-height: 1024px) {
  body main .contenedorFotos {
    width: 768px; }
    body main .contenedorFotos #galeriaPrimera {
      width: 767px; }
    body main .contenedorFotos #galeriaSegunda {
      width: 767px; }
    body main .contenedorFotos #img-7 {
      width: 767px; }
    body main .contenedorFotos #ultimaFoto {
      width: 767px; } }

/*GALERÍA*/
/*CONTACTO*/
@media (min-width: 400px) and (max-width: 768px) and (max-height: 1024px) {
  body main form {
    margin-left: 0%;
    margin-left: 7px;
    width: 725px; }
    body main form span textarea {
      margin-left: 10%; } }

/*/CONTACTO*/
/*COMPRA*/
@media (min-width: 400px) and (max-width: 768px) and (max-height: 1024px) {
  body main .todasEnCompra {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    row-gap: 0;
    grid-template-columns: 768px;
    grid-template-areas: "foto1" "descripcion1" "foto2" "descripcion2" "foto3" "descripcion3" "foto4" "descripcion4" "foto5" "descripcion5"; }
    body main .todasEnCompra .fotoCasa1 {
      grid-area: foto1;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
    body main .todasEnCompra .descripcionCasa1 {
      width: 650px;
      grid-area: descripcion1;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 500px; }
      body main .todasEnCompra .descripcionCasa1 .textoCasa1 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnCompra .descripcionCasa1 #botonDetalles {
        margin-top: 0px;
        margin-left: 450px; }
    body main .todasEnCompra .fotoCasa2 {
      grid-area: foto2;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
    body main .todasEnCompra .descripcionCasa2 {
      width: 650px;
      grid-area: descripcion2;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 450px; }
      body main .todasEnCompra .descripcionCasa2 .textoCasa2 {
        border-top: none;
        margin-top: 10px; }
      body main .todasEnCompra .descripcionCasa2 #botonDetalles2 {
        margin-top: 10px;
        margin-left: 450px; }
    body main .todasEnCompra .fotoCasa3 {
      grid-area: foto3;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
    body main .todasEnCompra .descripcionCasa3 {
      width: 650px;
      grid-area: descripcion3;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 500px; }
      body main .todasEnCompra .descripcionCasa3 .textoCasa3 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnCompra .descripcionCasa3 #botonDetalles3 {
        margin-top: 0px;
        margin-left: 450px; }
    body main .todasEnCompra .fotoCasa4 {
      grid-area: foto4;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
    body main .todasEnCompra .descripcionCasa4 {
      width: 650px;
      grid-area: descripcion4;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 500px; }
      body main .todasEnCompra .descripcionCasa4 .textoCasa4 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnCompra .descripcionCasa4 #botonDetalles4 {
        margin-top: 0px;
        margin-left: 450px; }
    body main .todasEnCompra .fotoCasa5 {
      grid-area: foto5;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
    body main .todasEnCompra .descripcionCasa5 {
      width: 650px;
      grid-area: descripcion5;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 500px; }
      body main .todasEnCompra .descripcionCasa5 .textoCasa5 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnCompra .descripcionCasa5 #botonDetalles5 {
        margin-top: 0px;
        margin-left: 450px; } }

/*/COMPRA*/
/*CONTACTO*/
@media (min-width: 400px) and (max-width: 768px) and (max-height: 1024px) {
  body main form {
    margin-left: 0%;
    margin-left: 7px;
    width: 725px; }
    body main form span textarea {
      margin-left: 10%; } }

/*/CONTACTO*/
/*ALQUILER*/
@media (min-width: 400px) and (max-width: 768px) and (max-height: 1024px) {
  body main .todasEnAlquiler {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    row-gap: 0;
    grid-template-columns: 768px;
    grid-template-areas: "fotoAlquiler1" "descripcionAlquiler1" "fotoAlquiler2" "descripcionAlquiler2" "fotoAlquiler3" "descripcionAlquiler3" "fotoAlquiler4" "descripcionAlquiler4" "fotoAlquiler5" "descripcionAlquiler5"; }
    body main .todasEnAlquiler .fotoAlquiler1 {
      grid-area: fotoAlquiler1;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
      body main .todasEnAlquiler .fotoAlquiler1 .primeraFoto {
        width: 646px; }
    body main .todasEnAlquiler .descripcionAlquiler1 {
      width: 650px;
      grid-area: descripcionAlquiler1;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 500px; }
      body main .todasEnAlquiler .descripcionAlquiler1 .textoAlquiler1 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnAlquiler .descripcionAlquiler1 #botonDetallesAlquiler1 {
        margin-top: 0px;
        margin-left: 450px; }
    body main .todasEnAlquiler .fotoAlquiler2 {
      grid-area: fotoAlquiler2;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
      body main .todasEnAlquiler .fotoAlquiler2 .segundaFoto {
        width: 646px; }
    body main .todasEnAlquiler .descripcionAlquiler2 {
      width: 650px;
      grid-area: descripcionAlquiler2;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 450px; }
      body main .todasEnAlquiler .descripcionAlquiler2 .textoAlquiler2 {
        border-top: none;
        margin-top: 10px; }
      body main .todasEnAlquiler .descripcionAlquiler2 #botonDetallesAlquiler2 {
        margin-top: 10px;
        margin-left: 450px; }
    body main .todasEnAlquiler .fotoAlquiler3 {
      grid-area: fotoAlquiler3;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
      body main .todasEnAlquiler .fotoAlquiler3 .terceraFoto {
        width: 646px; }
    body main .todasEnAlquiler .descripcionAlquiler3 {
      width: 650px;
      grid-area: descripcionAlquiler3;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 500px; }
      body main .todasEnAlquiler .descripcionAlquiler3 .textoAlquiler3 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnAlquiler .descripcionAlquiler3 #botonDetallesAlquiler3 {
        margin-top: 0px;
        margin-left: 450px; }
    body main .todasEnAlquiler .fotoAlquiler4 {
      grid-area: fotoAlquiler4;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
      body main .todasEnAlquiler .fotoAlquiler4 .cuartaFoto {
        width: 646px; }
    body main .todasEnAlquiler .descripcionAlquiler4 {
      width: 650px;
      grid-area: descripcionAlquiler4;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 500px; }
      body main .todasEnAlquiler .descripcionAlquiler4 .textoAlquiler4 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnAlquiler .descripcionAlquiler4 #botonDetallesAlquiler4 {
        margin-top: 0px;
        margin-left: 450px; }
    body main .todasEnAlquiler .fotoAlquiler5 {
      grid-area: fotoAlquiler5;
      margin-top: 10px;
      margin-left: 60px;
      height: 400px;
      width: 650px;
      border-bottom: none; }
      body main .todasEnAlquiler .fotoAlquiler5 .quintaFoto {
        width: 646px; }
    body main .todasEnAlquiler .descripcionAlquiler5 {
      width: 650px;
      grid-area: descripcionAlquiler5;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 60px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 500px; }
      body main .todasEnAlquiler .descripcionAlquiler5 .textoAlquiler5 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnAlquiler .descripcionAlquiler5 #botonDetallesAlquiler5 {
        margin-top: 0px;
        margin-left: 450px; } }

/*/ALQUILER*/
@media (max-width: 375px) and (max-height: 812px) {
  /*INDEX*/
  .contenedorPadre {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: "header" "main" "footer"; }
    .contenedorPadre header {
      grid-area: header; }
    .contenedorPadre main {
      grid-area: main;
      width: 375px; }
      .contenedorPadre main .fondoPrincipal .tituloCarousel {
        font-size: 35px; }
      .contenedorPadre main .fondoPrincipal section .introduccion {
        font-size: 20px; }
      .contenedorPadre main .fondoPrincipal section .quienesSomos {
        text-align: center;
        font-size: 20px; }
      .contenedorPadre main .fondoPrincipal .recomendacion {
        width: 375px;
        margin: 0%; }
        .contenedorPadre main .fondoPrincipal .recomendacion h3 {
          text-align: center;
          font-size: 18px; }
      .contenedorPadre main .fondoPrincipal .marcas div {
        width: 150px; }
        .contenedorPadre main .fondoPrincipal .marcas div #seguridadInformatica {
          width: 70px;
          margin: 0%; }
        .contenedorPadre main .fondoPrincipal .marcas div #ciberseguridad {
          font-size: 17px; }
      .contenedorPadre main .fondoPrincipal .marcas div #pintureria {
        width: 70px; }
      .contenedorPadre main .fondoPrincipal .marcas div #ventanas {
        width: 70px; }
      .contenedorPadre main .fondoPrincipal .marcas div #marcaVentanas {
        font-size: 17px; }
    .contenedorPadre footer {
      grid-area: footer; } }

/*/INDEX*/
/*CONTACTO*/
@media (max-width: 375px) and (max-height: 812px) {
  body #formMain {
    width: 375px; }
    body #formMain div h2 {
      font-size: 30px; }
    body #formMain form {
      width: 350px;
      margin-left: 0px; }
      body #formMain form legend, body #formMain form label {
        font-size: 15px; }
      body #formMain form span textarea {
        margin-left: 0%; }
      body #formMain form span .botonRestablecer {
        margin-left: 5px; } }

/*/CONTACTO*/
/*ALQUILER*/
@media (max-width: 375px) and (max-height: 812px) {
  body {
    width: 375px; }
    body main {
      width: 375px; }
      body main .todasEnAlquiler {
        margin-left: 0%;
        display: grid;
        grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
        row-gap: 0;
        grid-template-columns: 375px;
        grid-template-areas: "fotoAlquiler1" "descripcionAlquiler1" "fotoAlquiler2" "descripcionAlquiler2" "fotoAlquiler3" "descripcionAlquiler3" "fotoAlquiler4" "descripcionAlquiler4" "fotoAlquiler5" "descripcionAlquiler5"; }
        body main .todasEnAlquiler .fotoAlquiler1 {
          grid-area: fotoAlquiler1;
          margin-top: 10px;
          margin-left: 0px;
          margin-bottom: 0%;
          height: 400px;
          width: 375px;
          border-bottom: none; }
          body main .todasEnAlquiler .fotoAlquiler1 .primeraFoto {
            width: 371px; }
        body main .todasEnAlquiler .descripcionAlquiler1 {
          width: 375px;
          grid-area: descripcionAlquiler1;
          border-top: none;
          border-left: 2px solid black;
          margin-left: 0px;
          margin-top: 0%;
          margin-bottom: 30px;
          padding-bottom: 30px;
          height: 650px; }
          body main .todasEnAlquiler .descripcionAlquiler1 .textoAlquiler1 {
            border-top: none;
            margin-top: 50px; }
          body main .todasEnAlquiler .descripcionAlquiler1 #botonDetallesAlquiler1 {
            margin-top: 0px;
            margin-left: 200px; }
        body main .todasEnAlquiler .fotoAlquiler2 {
          grid-area: fotoAlquiler2;
          margin-top: 10px;
          margin-left: 0px;
          margin-bottom: 0%;
          height: 400px;
          width: 375px;
          border-bottom: none; }
          body main .todasEnAlquiler .fotoAlquiler2 .segundaFoto {
            width: 371px; }
        body main .todasEnAlquiler .descripcionAlquiler2 {
          width: 375px;
          grid-area: descripcionAlquiler2;
          border-top: none;
          border-left: 2px solid black;
          margin-left: 0px;
          margin-top: 0%;
          margin-bottom: 30px;
          padding-bottom: 30px;
          height: 650px; }
          body main .todasEnAlquiler .descripcionAlquiler2 .textoAlquiler2 {
            border-top: none;
            margin-top: 10px; }
          body main .todasEnAlquiler .descripcionAlquiler2 #botonDetallesAlquiler2 {
            margin-top: 30px;
            margin-left: 200px; }
        body main .todasEnAlquiler .fotoAlquiler3 {
          grid-area: fotoAlquiler3;
          margin-top: 10px;
          margin-left: 0px;
          margin-bottom: 0%;
          height: 400px;
          width: 375px;
          border-bottom: none; }
          body main .todasEnAlquiler .fotoAlquiler3 .terceraFoto {
            width: 371px; }
        body main .todasEnAlquiler .descripcionAlquiler3 {
          width: 375px;
          grid-area: descripcionAlquiler3;
          border-top: none;
          border-left: 2px solid black;
          margin-left: 0px;
          margin-top: 0%;
          margin-bottom: 30px;
          padding-bottom: 30px;
          height: 650px; }
          body main .todasEnAlquiler .descripcionAlquiler3 .textoAlquiler3 {
            border-top: none;
            margin-top: 50px; }
          body main .todasEnAlquiler .descripcionAlquiler3 #botonDetallesAlquiler3 {
            margin-top: 0px;
            margin-left: 200px; }
        body main .todasEnAlquiler .fotoAlquiler4 {
          grid-area: fotoAlquiler4;
          margin-top: 10px;
          margin-left: 0px;
          margin-bottom: 0%;
          height: 400px;
          width: 375px;
          border-bottom: none; }
          body main .todasEnAlquiler .fotoAlquiler4 .cuartaFoto {
            width: 371px; }
        body main .todasEnAlquiler .descripcionAlquiler4 {
          width: 375px;
          grid-area: descripcionAlquiler4;
          border-top: none;
          border-left: 2px solid black;
          margin-left: 0px;
          margin-top: 0%;
          margin-bottom: 30px;
          padding-bottom: 30px;
          height: 650px; }
          body main .todasEnAlquiler .descripcionAlquiler4 .textoAlquiler4 {
            border-top: none;
            margin-top: 20px; }
          body main .todasEnAlquiler .descripcionAlquiler4 #botonDetallesAlquiler4 {
            margin-top: 0px;
            margin-left: 200px; }
        body main .todasEnAlquiler .fotoAlquiler5 {
          grid-area: fotoAlquiler5;
          margin-top: 10px;
          margin-left: 0px;
          margin-bottom: 0%;
          height: 400px;
          width: 375;
          border-bottom: none; }
          body main .todasEnAlquiler .fotoAlquiler5 .quintaFoto {
            width: 371; }
        body main .todasEnAlquiler .descripcionAlquiler5 {
          width: 375;
          grid-area: descripcionAlquiler5;
          border-top: none;
          border-left: 2px solid black;
          margin-left: 0px;
          margin-top: 0%;
          margin-bottom: 30px;
          padding-bottom: 30px;
          height: 650px; }
          body main .todasEnAlquiler .descripcionAlquiler5 .textoAlquiler5 {
            border-top: none;
            margin-top: 30px; }
          body main .todasEnAlquiler .descripcionAlquiler5 #botonDetallesAlquiler5 {
            margin-top: 0px;
            margin-left: 200px; } }

/*/ALQUILER*/
/*COMPRA*/
@media (min-width: 400px) and (max-width: 768px) and (max-height: 1024px) {
  body main form {
    margin-left: 0%;
    margin-left: 7px;
    width: 725px; }
    body main form span textarea {
      margin-left: 10%; } }

/*/CONTACTO*/
/*COMPRA*/
@media (max-width: 375px) and (max-height: 812px) {
  body main .todasEnCompra {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
    row-gap: 0;
    grid-template-columns: 768px;
    grid-template-areas: "foto1" "descripcion1" "foto2" "descripcion2" "foto3" "descripcion3" "foto4" "descripcion4" "foto5" "descripcion5"; }
    body main .todasEnCompra .fotoCasa1 {
      grid-area: foto1;
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 0%;
      height: 400px;
      width: 375px;
      border-bottom: none; }
      body main .todasEnCompra .fotoCasa1 .primeraFoto {
        width: 371px; }
    body main .todasEnCompra .descripcionCasa1 {
      width: 375px;
      grid-area: descripcion1;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 0px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 700px; }
      body main .todasEnCompra .descripcionCasa1 .textoCasa1 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnCompra .descripcionCasa1 #botonDetalles {
        margin-top: 0px;
        margin-left: 200px; }
    body main .todasEnCompra .fotoCasa2 {
      grid-area: foto2;
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 0%;
      height: 400px;
      width: 375px;
      border-bottom: none; }
      body main .todasEnCompra .fotoCasa2 .segundaFoto {
        width: 371px; }
    body main .todasEnCompra .descripcionCasa2 {
      width: 375px;
      grid-area: descripcion2;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 0px;
      margin-top: 0%;
      margin-bottom: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 650px; }
      body main .todasEnCompra .descripcionCasa2 .textoCasa2 {
        border-top: none;
        margin-top: 10px; }
      body main .todasEnCompra .descripcionCasa2 #botonDetalles2 {
        margin-top: 10px;
        margin-left: 200px; }
    body main .todasEnCompra .fotoCasa3 {
      grid-area: foto3;
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 0%;
      height: 200px;
      width: 375px;
      border-bottom: none; }
      body main .todasEnCompra .fotoCasa3 .terceraFoto {
        width: 371px; }
    body main .todasEnCompra .descripcionCasa3 {
      width: 375px;
      grid-area: descripcion3;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 0px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 650px; }
      body main .todasEnCompra .descripcionCasa3 .textoCasa3 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnCompra .descripcionCasa3 #botonDetalles3 {
        margin-top: 0px;
        margin-left: 200px; }
    body main .todasEnCompra .fotoCasa4 {
      grid-area: foto4;
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 0%;
      height: 400px;
      width: 375px;
      border-bottom: none; }
      body main .todasEnCompra .fotoCasa4 .cuartaFoto {
        width: 371px; }
    body main .todasEnCompra .descripcionCasa4 {
      width: 375px;
      grid-area: descripcion4;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 0px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 650px; }
      body main .todasEnCompra .descripcionCasa4 .textoCasa4 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnCompra .descripcionCasa4 #botonDetalles4 {
        margin-top: 0px;
        margin-left: 200px; }
    body main .todasEnCompra .fotoCasa5 {
      grid-area: foto5;
      margin-top: 10px;
      margin-left: 0px;
      margin-bottom: 0%;
      height: 400px;
      width: 375px;
      border-bottom: none; }
      body main .todasEnCompra .fotoCasa5 .quintaFoto {
        width: 371px; }
    body main .todasEnCompra .descripcionCasa5 {
      width: 375px;
      grid-area: descripcion5;
      border-top: none;
      border-left: 2px solid black;
      margin-left: 0px;
      margin-top: 0%;
      margin-bottom: 30px;
      padding-bottom: 30px;
      height: 650px; }
      body main .todasEnCompra .descripcionCasa5 .textoCasa5 {
        border-top: none;
        margin-top: 50px; }
      body main .todasEnCompra .descripcionCasa5 #botonDetalles5 {
        margin-top: 0px;
        margin-left: 200px; } }

/*GALERÍA*/
@media (max-width: 375px) and (max-height: 812px) {
  body main div h2 {
    font-size: 30px; }
  body main .contenedorFotos {
    width: 375px; }
    body main .contenedorFotos #galeriaPrimera {
      width: 375px; }
    body main .contenedorFotos #galeriaSegunda {
      width: 375px; }
    body main .contenedorFotos #galeriaTercera {
      width: 375px; }
    body main .contenedorFotos #llaves {
      width: 375px; }
    body main .contenedorFotos #img-7 {
      width: 375px; }
    body main .contenedorFotos #img-8 {
      width: 375px; }
    body main .contenedorFotos #img-9 {
      width: 375px; }
    body main .contenedorFotos #img-11 {
      width: 375px; }
    body main .contenedorFotos #img-12 {
      width: 375px; }
    body main .contenedorFotos #ultimaFoto {
      width: 375px; } }

/*/GALERÍA*/
