
body{
    main{
        h2{
            width: 1800px;
            margin-right: 0%;
        }
        
        .todasEnCompra{
            margin-right: 0%;
            padding-right: 0%;
            display: grid;
            grid-template-rows: auto auto auto;
            grid-template-columns: 1fr auto;
            row-gap: 20px;
            grid-template-areas:
            "foto1 descripcion1"
            "foto2 descripcion2"
            "foto3 descripcion3"
            "foto4 descripcion4"
            "foto5 descripcion5";

            .fotoCasa1{
                grid-area: foto1;
                border: 2px solid black;
                height: 426px;

                .primeraFoto{
                    height: 422px;
                    width: 646px;
                }
            }
            .descripcionCasa1{
                font-size: 20px;
                text-align: left;
                grid-area: descripcion1;
                border-top: 2px solid black;
                border-right: 2px solid black;
                border-bottom: 1px solid black;
                border-left: none;

                .textoCasa1{
                    padding: 30px;

                }

                #detallesCasaUno{
                    border-top: 1px solid black;
                    border-left: 2px solid black;
                    margin-top: 42px;
                }

                #botonDetalles{
                    margin-left: 80%;
                    margin-top: 140px;
                    font-size: 20px;
                    color: green;
                    background-color: white;
                    border-color: green;

                    &:hover{
                        background-color: green;
                        color: white;
                    }
                }
            }

            .fotoCasa2{
                grid-area: foto2;
                border: 2px solid black;
                height: 363px;

                .segundaFoto{
                    height: 359px;
                    width: 646px;
                }
            }

            .descripcionCasa2{
                font-size: 20px;
                text-align: left;
                grid-area: descripcion2;
                border-top: 2px solid black;
                border-right: 2px solid black;
                border-bottom: 1px solid black;
                border-left: none;

                .textoCasa2{
                    padding: 30px;
                }

                #detallesCasaDos{
                    border-top: 1px solid black;
                    border-left: 2px solid black;
                    margin-top: 69px;
                }

                #botonDetalles2{
                    margin-left: 80%;
                    margin-top: 50px;
                    font-size: 20px;
                    color: green;
                    background-color: white;
                    border-color: green;

                    &:hover{
                        background-color: green;
                        color: white;
                    }
                }
            }

            .fotoCasa3{
                grid-area: foto3;
                width: 650px;
                border: 2px solid black;
                height: 420px;
                
                .terceraFoto{
                    width: 646px;
                }

            }

            .descripcionCasa3{
                font-size: 20px;
                text-align: left;
                grid-area: descripcion3;
                border-top: 2px solid black;
                border-right: 2px solid black;
                border-bottom: 1px solid black;
                border-left: none;

                .textoCasa3{
                    padding: 30px;
                }

                #detallesCasaTres{
                    border-top: 1px solid black;
                    border-left: 2px solid black;
                    margin-top: 96px;
                    margin-left: 0px;

                    .col{
                        padding-left: 0%;
                    }
                }

                #botonDetalles3{
                    margin-left: 80%;
                    margin-top: 80px;
                    font-size: 20px;
                    color: green;
                    background-color: white;
                    border-color: green;

                    &:hover{
                        background-color: green;
                        color: white;
                    }
                }

            }
            .fotoCasa4{
                grid-area: foto4;
                width: 650px;
                border: 2px solid black;
                height: 420px;

                .cuartaFoto{
                    width: 646px;
                    height: 416px;
                }
            }
            .descripcionCasa4{
                font-size: 20px;
                text-align: left;
                grid-area: descripcion4;
                border-top: 2px solid black;
                border-right: 2px solid black;
                border-bottom: 1px solid black;
                border-left: none;

                .textoCasa4{
                    padding: 30px;
                }

                #detallesCasaCuatro{
                    border-top: 1px solid black;
                    border-left: 2px solid black;
                    margin-top: 96px;
                    margin-left: 0px;

                    .col{
                        padding-left: 0px;
                    }
                }

                #botonDetalles4{
                    margin-left: 80%;
                    margin-top: 80px;
                    font-size: 20px;
                    color: green;
                    background-color: white;
                    border-color: green;

                    &:hover{
                        background-color: green;
                        color: white;
                    }
                }
            }

            .fotoCasa5{
                grid-area: foto5;
                width: 650px;
                border: 2px solid black;
                height: 420px;
                
                .quintaFoto{
                    width: 646px;
                    height: 417px;
                }

            }

            .descripcionCasa5{
                font-size: 20px;
                text-align: left;
                grid-area: descripcion5;
                border-top: 2px solid black;
                border-right: 2px solid black;
                border-bottom: 1px solid black;
                border-left: none;

                .textoCasa5{
                    padding: 30px;
                }

                #detallesCasaCinco{
                    border-top: 1px solid black;
                    border-left: 2px solid black;
                    margin-top: 96px;
                    margin-left: 0%;

                    .col{
                        padding: 0%;
                    }
                }

                #botonDetalles5{
                    margin-left: 80%;
                    margin-top: 80px;
                    font-size: 20px;
                    color: green;
                    background-color: white;
                    border-color: green;

                    &:hover{
                        background-color: green;
                        color: white;
                    }
                }
            }

        }
    }
}

/* /COMPRA */

