@import "contenidosass";
body{
    main{
        div{
            h2{
                margin-bottom: 10px;
                
            }  
        }

        
        .todasEnCompra{
            display: grid;
            margin: 0%;
            grid-template-rows: auto auto auto auto auto;
            grid-template-columns: 1fr 3fr;
            row-gap: 20px;
            grid-template-areas:
            "foto1 descripcion1"
            "foto2 descripcion2"
            "foto3 descripcion3"
            "foto4 descripcion4"
            "foto5 descripcion5";

            .fotoCasa1{
                grid-area: foto1;
                border: 2px solid black;
                height: 426px;

                .primeraFoto{
                    height: 422px;
                    width: 646px;
                }
            }
            .descripcionCasa1{
                grid-area: descripcion1;
                @include contenidoDescripcionCompra;

                .textoCasa1{
                    padding: 30px;

                }

                #detallesCasaUno{
                    @include borderColapseCompra;
                    margin-top: 42px;
                }

                #botonDetalles{
                    margin-left: 80%;
                    margin-top: 140px;
                    @include detallesBoton;

                    &:hover{
                        @include contenidoHover;
                    }
                }
            }

            .fotoCasa2{
                grid-area: foto2;
                border: 2px solid black;
                height: 363px;

                .segundaFoto{
                    height: 359px;
                    width: 646px;
                }
            }

            .descripcionCasa2{
                grid-area: descripcion2;
                @include contenidoDescripcionCompra;

                .textoCasa2{
                    padding: 30px;
                }

                #detallesCasaDos{
                    @include borderColapseCompra;
                    margin-top: 69px;
                }

                #botonDetalles2{
                    margin-left: 80%;
                    margin-top: 50px;
                    @include detallesBoton;

                    &:hover{
                        @include contenidoHover;
                    }
                }
            }

            .fotoCasa3{
                grid-area: foto3;
                width: 650px;
                border: 2px solid black;
                height: 420px;
                
                .terceraFoto{
                    width: 646px;
                }

            }

            .descripcionCasa3{
                grid-area: descripcion3;
                @include contenidoDescripcionCompra;

                .textoCasa3{
                    padding: 30px;
                }

                #detallesCasaTres{
                    @include borderColapseCompra;
                    margin-top: 96px;
                    margin-left: -1px;
                    margin-right: 0%;

                    .col{
                        padding:0%
                    }
                }

                #botonDetalles3{
                    margin-left: 80%;
                    margin-top: 80px;
                    @include detallesBoton;

                    &:hover{
                        @include contenidoHover;
                    }
                }

            }
            .fotoCasa4{
                grid-area: foto4;
                width: 650px;
                border: 2px solid black;
                height: 420px;

                .cuartaFoto{
                    width: 646px;
                    height: 416px;
                }
            }
            .descripcionCasa4{
                grid-area: descripcion4;
                @include contenidoDescripcionCompra;

                .textoCasa4{
                    padding: 30px;
                }

                #detallesCasaCuatro{
                    @include borderColapseCompra;
                    margin-top: 96px;
                    margin-left: -1px;
                    width: 1275px;

                    .col{
                        padding: 0px;
                    }
                }

                #botonDetalles4{
                    margin-left: 80%;
                    margin-top: 80px;
                    @include detallesBoton;

                    &:hover{
                        @include contenidoHover;
                    }
                }
            }

            .fotoCasa5{
                grid-area: foto5;
                width: 650px;
                border: 2px solid black;
                height: 420px;
                
                .quintaFoto{
                    width: 646px;
                    height: 417px;
                }

            }

            .descripcionCasa5{
                grid-area: descripcion5;
                @include contenidoDescripcionCompra;

                .textoCasa5{
                    padding: 30px;
                }

                #detallesCasaCinco{
                    @include borderColapseCompra;
                    margin-top: 96px;
                    margin-left: -1px;
                    width: 1275px;

                    .col{
                        padding: 0%;
                    }
                }

                #botonDetalles5{
                    margin-left: 80%;
                    margin-top: 80px;
                    @include detallesBoton;

                    &:hover{
                        @include contenidoHover;
                    }
                }
            }

        }
    }
}

/* /COMPRA */

