
/*ALQUILER Y COMPRA*/
@mixin contenidoHover{
    background-color: green;
    color: white;
}

@mixin contenidoDescripcionCompra{
    font-size: 20px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    width: 1275px;
    text-align: left;
    border-left: none;
}



@mixin contenidoDescripcionAlquiler{
    font-size: 20px;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    width: 1295px;
    text-align: left;
    border-left: none;
}

@mixin borderColapseCompra{
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 1273px;
}

@mixin borderColapseAlquiler{
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 1295px;
}

@mixin detallesBoton{
    font-size: 20px;
    color: green;
    background-color: white;
    border-color: green;
}
/*/ALQUILER Y COMPRA*/

/*TABLET: COMPRA Y ALQUILER*/
@mixin tabletDescripcion{
    width: 650px;
    border-top: none;
    border-left: 2px solid black;
    margin-left: 60px;
    margin-top: 0%;
    margin-bottom: 30px;
}

@mixin tabletFotos{
    border: 2px solid black;
    margin-top: 10px;
    margin-left: 60px;
    height: 400px;
    width: 650px;
    border-bottom: none;
}


/*/TABLET: COMPRA Y ALQUILER*/


/*MOBILE: COMPRA Y ALQUILER*/
@mixin mobileDescripcion{
    width: 300px;
    border-top: none;
    border-left: 2px solid black;
    margin-left: 0px;
    margin-top: 0%;
    margin-bottom: 30px;
}

@mixin mobileFotos{
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 0%;
    height: 200px;
    width: 300px;
    border-bottom: none;
}

/*/MOBILE: COMPRA Y ALQUILER*/

/*LOWER RESOLUTION*/
@mixin contenidoDescripcionCompraMenorResolucion{
    font-size: 18px;
    width: 100%;
    border-top: none;
    border-left: 2px solid black;
    margin-left: 10%;
    margin-top: 0%;
    margin-bottom: 30px;
}

@mixin borderColapseCompraMenorResolucion{
    border-top: 0px solid black;
    width: 100%;
}

@mixin detallesBotonMenorResolucion{
    font-size: 18px;
    color: green;
    background-color: white;
    border-color: green;
}