/* GALERÍA */
body main{
    width: 1925px;
    div{
        h2{
            text-align: center;
            background-color: white;
            color: black;
            font-style: italic;
            font-family: 'MonteCarlo', cursive;
            font-size: 4rem;
        }
    }
    .contenedorFotos{
        display: flex;
        flex-flow: row wrap;
        

        #galeriaPrimera{
            width: 875px;
        }

        #img-8, #img-12{
            width: 600px;
        }


    }
}



