
body{
    header{
        nav{
            .divLogo{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                img{
                    height: 150px;
                    margin: 20px;
                }

                h1{
                    /* TAMAÑO DE LA LETRA, ESTILO Y ALINEACION DEL ENCABEZADI */
                    font-size: 5rem;
                    font-style: italic;
                    text-align: center;
                    font-family: 'MonteCarlo', cursive;
                    background: rgb(70,186,242);
                    background: radial-gradient(circle, rgba(70,186,242,1) 0%, rgba(255,255,255,1) 85%);
                    margin-left: 20%;
                }
            }
            ul{
                /* ESPACIADO ENTRE PALABRAS */
                word-spacing: 20px;
                list-style: none;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-end;
                margin-top: 20px;
                padding-left: 0ch;

                             
         
         
                .btn-grad {
                    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
                    margin: 10px;
                    padding: 15px 45px;
                    text-align: center;
                    text-transform: uppercase;
                    transition: 0.5s;
                    background-size: 200% auto;         
                    box-shadow: 0 0 20px #eee;
                    border-radius: 10px;
                    display: block;
                    color: white;
                }
            
                .btn-grad:hover {
                    background-position: right center;
                    color: #fff;
                    text-decoration: none;
                }
                     
                     
         

                .ancla{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}
@media(min-width: 300px) and (max-width: 767px) and (max-height: 812px){
        body{
            header{
                nav{
                    .divLogo{
                        
                        h1{
                            font-size: 2rem;
                            margin-left: 0%;
                            margin-right: 130px;
                        }

                        .logo{

                            img{
                                width: 100px;
                                height: 100px;
                            }
                        }
                    }

                    ul{
                        display: inline;

                        .btn-grad{
                            width: 275px;
                        }
                    }
                }
            }
        }
    }