body{
    main{
        .fondoPrincipal{
            width: 1776px;
            .tituloCarousel{
                margin-top: 70px;
                font-style: italic;
                text-align: center;
            }
        }
        #carouselExampleControls{

            width: 1250px;
            margin-left: 350px;
        }
        section{
            .introduccion{
                text-align: center;
                font-size: 22px;
                margin-top: 60px;
                font-weight: bold;
            }
        }
        section{
            .subtitulo{
                margin-top: 70px;
                font-style: italic;
                text-align: center;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(255,255,255,1) 40%, rgba(70,186,242,1) 50%, rgba(255,255,255,1) 60%);
            }

            .quienesSomos{
                padding: 20px;
                line-height: 45px;
                font-size: 23px;
                margin-left: 60px;
            }
        }

        .recomendacion{
            margin-top: 30px;
            margin-left: 550px;
            font-size: 24px;
        }
        .marcas{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin-right: 150px;

            div{
                .fotosPatrocinios{
                    margin-left: 150px;
                    margin-top: 50px;
                    width: 120px;
                }
                .nombreMarcas{
                    font-size: 20px;
                    font-weight: bold;
                    margin-left: 45px;
                    margin-top: 40px;
                }
            }
            div{
                #pintureria{
                    margin-left: 90px;
                }
            }
            div{
                #ventanas{
                    margin-left: 150px;
                }
            }
        }
    }
}