@media(min-width: 300px) and (max-width: 767px) and (max-height: 812px){
    /*INDEX*/
    .contenedorPadre{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "header"
        "main"
        "footer";
        header{
            grid-area: header;
        }
        main{
            grid-area: main;

            .fondoPrincipal{

                .tituloCarousel{
                    font-size: 2rem;
                    width: 300px;
                }

                #carouselExampleControls{
                    width: 300px;
                    margin: 0%;
                }

                section{
                    .introduccion{
                        font-size: 17px;
                        width: 300px;
                    }
                }

                section{
                    .subtitulo{
                        width: 300px;
                    }
                    .quienesSomos{
                        text-align: center;
                        font-size: 20px;
                        width: 300px;
                    }
                }

                .recomendacion{
                    width: 300px;
                    margin: 0%;
                    
                    h3{
                        text-align: center;
                        font-size: 18px;
                    }
                }
                
                .marcas{
                    display: inline;
                    div{
                        width: 300px;
                        #seguridadInformatica{
                            width: 70px;
                            margin-left: 120px;
                        }
                        #ciberseguridad{
                            font-size: 17px;
                            text-align: center;
                            margin-left: 15px;
                        }
                    }

                    div{
                        #pintureria{
                            width: 70px;
                            margin-left: 125px;
                        }
                        #descripcionPintureria{
                            font-size: 17px;
                            margin-left: 70px;
                        }
                    }

                    div{
                        #ventanas{
                            width: 70px;
                            margin-left: 120px;

                        }
                        #marcaVentanas{
                            font-size: 17px;
                            margin-left: 50px;
                        }
                    }
                }
            }
        }
        footer{
            grid-area: footer;
        }


    }
}
/*/INDEX*/

/*CONTACTO*/
@media(min-width: 300px) and (max-width: 767px) and (max-height: 812px){
    body{
        width: 300px;
        #formMain{
            width: 300px;

            div{
                .tituloFormulario{
                    font-size: 30px;
                    width: 250px;
                }
            }

            form{
                width: 275px;
                margin-left: 0px;

                legend{
                    font-size: 27px;
                }


                span{
                    label{
                       font-size: 18px; 
                    }
                    

                    textarea{
                        width: 225px;
                        margin-left: 0%;
                        font-size: 18px;
                    }

                    #botonEnviar{
                        margin-top: 15px;
                        margin-left: 0px;
                        font-size: 18px;
                    }

                    #botonRestablecer{
                        margin-left: 30px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

/*/CONTACTO*/

/*ALQUILER*/
@media(min-width: 300px) and (max-width: 767px) and (max-height: 812px){
        body{
            width: 300px;

            main{
                div{
                    h2{
                        margin-top: 50px;
                    }
                }
                width: 300px;

                .todasEnAlquiler{
                    width: 300px;
                    margin-left: 0%;
                    display: grid;
                    grid-template-rows: auto auto auto auto
                    auto auto auto auto auto auto;
                    row-gap: 0;
                    grid-template-columns: 300px;
                    grid-template-areas: 
                    "fotoAlquiler1"
                    "descripcionAlquiler1"
                    "fotoAlquiler2"
                    "descripcionAlquiler2"
                    "fotoAlquiler3"
                    "descripcionAlquiler3"
                    "fotoAlquiler4"
                    "descripcionAlquiler4"
                    "fotoAlquiler5"
                    "descripcionAlquiler5";
                    
                    .fotoAlquiler1{
                        grid-area: fotoAlquiler1;
                        margin-top: 10px;
                        margin-left: 0px;
                        margin-bottom: 0%;
                        height: 200px;
                        width: 300px;
                        border-bottom: none;

                        .primeraFoto{
                            width: 296px;
                            height: 250px;
                        }

                    }
                    .descripcionAlquiler1{
                        width: 300px;
                        grid-area: descripcionAlquiler1;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoAlquiler1{
                            border-top: none;
                            margin-top: 50px;
                            font-size: 18px;
                        }

                        #detallesAlquilerUno{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px;
                        }

                        #botonDetallesAlquiler1{
                            margin-top: 0px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }
                    
        
                    .fotoAlquiler2{
                        grid-area: fotoAlquiler2;
                        margin-top: 10px;
                        margin-left: 0px;
                        margin-bottom: 0%;
                        height: 250px;
                        width: 300px;
                        border-bottom: none;

                        .segundaFoto{
                            width: 296px;
                            height: 250px;
                        }

                    }
                    .descripcionAlquiler2{
                        width: 300px;
                        grid-area: descripcionAlquiler2;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoAlquiler2{
                            border-top: none;
                            margin-top: 10px;
                            font-size: 18px;
                        }

                        #detallesAlquilerDos{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px;
                        }

                        #botonDetallesAlquiler2{
                            margin-top: 30px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }

                    .fotoAlquiler3{
                        grid-area: fotoAlquiler3;
                        margin-top: 10px;
                        margin-left: 0px;
                        margin-bottom: 0%;
                        height: 200px;
                        width: 300px;
                        border-bottom: none;

                        .terceraFoto{
                            width: 296px;
                            height: 250px;
                        }
                    }
                    .descripcionAlquiler3{
                        width: 300px;
                        grid-area: descripcionAlquiler3;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoAlquiler3{
                            border-top: none;
                            margin-top: 50px;
                        }

                        #detallesAlquilerTres{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px;
                        }

                        #botonDetallesAlquiler3{
                            margin-top: 0px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }

                    .fotoAlquiler4{
                        grid-area: fotoAlquiler4;
                        margin-top: 10px;
                        margin-left: 0px;
                        margin-bottom: 0%;
                        height: 250px;
                        width: 300px;
                        border-bottom: none;

                        .cuartaFoto{
                            width: 296px;
                            height: 250px;
                        }

                    }
                    .descripcionAlquiler4{
                        width: 300px;
                        grid-area: descripcionAlquiler4;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoAlquiler4{
                            border-top: none;
                            margin-top: 20px;
                            font-size: 18px;
                        }
                        
                        #detallesAlquilerCuatro{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px;
                        }

                        #botonDetallesAlquiler4{
                            margin-top: 0px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }

                    .fotoAlquiler5{
                        grid-area: fotoAlquiler5;
                        margin-top: 10px;
                        margin-left: 0px;
                        margin-bottom: 0%;
                        height: 250px;
                        width: 300px;
                        border-bottom: none;

                        .quintaFoto{
                            width: 296px;
                            height: 250px;
                        }

                    }
                    .descripcionAlquiler5{
                        width: 300;
                        grid-area: descripcionAlquiler5;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoAlquiler5{
                            border-top: none;
                            margin-top: 30px;
                            font-size: 18px;
                        }

                        #detallesAlquilerCinco{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px;
                        }

                        #botonDetallesAlquiler5{
                            margin-top: 0px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }   
                }

            }

        }
    }
/*/ALQUILER*/



/*CONTACTO*/
@media(min-width: 300px) and (max-width: 767px) and (max-height: 812px) and
    (max-height:1024px){
        body{
            main{
                form{
                    margin-left: 0%;
                    margin-left: 7px;
                    width: 725px;

                    span{
                        textarea{
                            margin-left: 10%;
                        }
                    }
                }
            }
        }

    }
/*/CONTACTO*/


/*COMPRA*/
@media(min-width: 300px) and (max-width: 767px) and (max-height: 812px){
        body{
            // width: 300px;
            main{
                width: 300px;
                div{
                    h2{
                        width: 300px;
                    }
                }
                .todasEnCompra{
                    width: 300px;
                    display: grid;
                    grid-template-rows: auto auto auto auto
                    auto auto auto auto auto auto;
                    row-gap: 0;
                    grid-template-columns: 300px;
                    grid-template-areas: 
                    "foto1"
                    "descripcion1"
                    "foto2"
                    "descripcion2"
                    "foto3"
                    "descripcion3"
                    "foto4"
                    "descripcion4"
                    "foto5"
                    "descripcion5";
                    
                    .fotoCasa1{
                        grid-area: foto1;
                        margin-top: 10px;
                        margin-bottom: 0%;
                        height: 200px;
                        width: 300px;
                        border-bottom: none;

                        .primeraFoto{
                            width: 296px;
                            height: 250px;
                        }

                    }
                    .descripcionCasa1{
                        width: 300px;
                        grid-area: descripcion1;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoCasa1{
                            border-top: none;
                            margin-top: 50px;
                            font-size: 18px;
                        }

                        #detallesCasaUno{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px;
                        }

                        #botonDetalles{
                            margin-top: 0px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }
                    
        
                    .fotoCasa2{
                        grid-area: foto2;
                        margin-top: 10px;
                        margin-left: 0px;
                        margin-bottom: 0%;
                        height: 250px;
                        width: 300px;
                        border-bottom: none;
                        

                        .segundaFoto{
                            width: 296px;
                            height: 250px;
                        }

                    }
                    .descripcionCasa2{
                        width: 300px;
                        grid-area: descripcion2;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoCasa2{
                            border-top: none;
                            margin-top: 10px;
                            font-size: 18px;
                        }

                        #detallesCasaDos{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px; 
                        }

                        #botonDetalles2{
                            margin-top: 10px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }

                    .fotoCasa3{
                        grid-area: foto3;
                        margin-top: 10px;
                        margin-left: 0px;
                        margin-bottom: 0%;
                        height: 150px;
                        width: 300px;
                        border-bottom: none;

                        .terceraFoto{
                            width: 295px;  
                        }

                    }
                    .descripcionCasa3{
                        width: 300px;
                        grid-area: descripcion3;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoCasa3{
                            border-top: none;
                            margin-top: 50px;
                            font-size: 18px;
                        }

                        #detallesCasaTres{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px;
                            width: 296px;

                            .col{
                                padding-right: 0%;
                            }
                        }

                        #botonDetalles3{
                            margin-top: 0px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }

                    .fotoCasa4{
                        grid-area: foto4;
                        margin-top: 10px;
                        margin-left: 0px;
                        margin-bottom: 0%;
                        height: 200px;
                        width: 300px;
                        border-bottom: none;
                        

                        .cuartaFoto{
                            width: 296px;
                            height: 250px;
                        }

                    }
                    .descripcionCasa4{
                        width: 300px;
                        grid-area: descripcion4;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoCasa4{
                            border-top: none;
                            margin-top: 50px;
                            font-size: 18px;
                        }

                        #detallesCasaCuatro{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px;
                            width: 296px;

                            .col{
                                padding-right: 0%;
                            }
                        }

                        #botonDetalles4{
                            margin-top: 0px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }

                    .fotoCasa5{
                        grid-area: foto5;
                        margin-top: 10px;
                        margin-left: 0px;
                        margin-bottom: 0%;
                        height: 225px;
                        width: 300px;
                        border-bottom: none;

                        .quintaFoto{
                            width: 296px;
                            height: 250px;
                        }

                    }
                    .descripcionCasa5{
                        width: 300px;
                        grid-area: descripcion5;
                        border-top: none;
                        border-left: 2px solid black;
                        margin-left: 0px;
                        margin-top: 0%;
                        margin-bottom: 30px;
                        

                        .textoCasa5{
                            border-top: none;
                            margin-top: 50px;
                            font-size: 18px;
                        }

                        #detallesCasaCinco{
                            margin-top: 50px;
                            border-left: none;
                            font-size: 18px;  
                            width: 296px;
                        }

                        #botonDetalles5{
                            margin-top: 0px;
                            margin-left: 150px;
                            font-size: 18px;
                        }
                    }   
                }

            }

        }
    }

    /*GALERÍA*/
    @media(min-width: 300px) and (max-width: 767px) and (max-height: 812px){
    body{
        main{
            div{
                h2{
                    font-size: 30px;
                }
            }
            .contenedorFotos{
        
                #galeriaPrimera{
                    width: 300px;                        
                }

                #galeriaSegunda{
                    width: 300px;
                }
                #galeriaTercera{
                    width: 300px;
                }
                #llaves{
                    width: 300px;
                }

                #img-7{
                    width: 300px;
                }
                #img-8{
                    width: 300px;
                }
                #img-9{
                    width: 300px;
                }
                #img-11{
                    width: 300px;
                }
                #img-12{
                    width: 300px;
                }
                #ultimaFoto{
                    width: 300px;
                }
            }
        }

    }
}
    /*/GALERÍA*/
