 /*VERSION IPAD 768X1024 */
@import "contenidosass";
 @media(min-width: 768px) and (max-width: 800px) and
    (max-height:1024px){
    .contenedorPadre{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    header{
        grid-area: header;
        width: 768px;
    }
    main{
        grid-area: main;
    }
    .pieDePagina{
        grid-area: footer;
        padding-bottom: 20px;
        width: 768px;
    }

    .contenedorPadre{
        width: 768px;

        main{
           width: 768px; 

            .fondoPrincipal{
                width:768px;

                h2{
                    margin-left: 0px;
                    width: 768px;
                }

                #carouselExampleControls{
                    margin: 0%;
                    width: 768px;
                }
            }
            section{
                .introduccion{
                    margin-left: 0%;
                }
            }

            section{


                .subtitulo{
                    font-size: 3rem;
                }

                .quienesSomos{
                    text-align: center;
                    margin-left: 0%;
                }
            }
            .recomendacion{
                text-align: center;
                margin-left: 5px;
            }

            .marcas{
                width: 768px;
                display: inline;

                div{
                    #seguridadInformatica{
                        margin-left: 330px;
                    }

                    #ciberseguridad{
                        text-align: center;
                        margin-left: 20px;
                    }
                }
                .bloqueTotal{

                    #pintureria{
                        margin-left: 340px;
                    }

                    #descripcionPintureria{
                        text-align: center;
                        margin-left: 30px;
                    }
                }

                .bloqueWox{

                    #ventanas{
                        margin-left: 330px;
                    }

                    #marcaVentanas{
                        text-align: center;
                        margin-right: 40px;
                        
                    }
                }
            }

        }
    }    
 
}
/*INDEX*/

/*GALERÍA*/
@media(min-width: 768px) and (max-width: 800px) and
    (max-height:1024px){
        body{
            main{
                div{
                    h2{
                        width: 768px;
                    }
                }
                .contenedorFotos{
                    width: 768px;
        
                    #galeriaPrimera, #galeriaSegunda, #img-7, #ultimaFoto{
                        width: 767px;                        
                    }
                }
            }

        }
    }/*GALERÍA*/

/*CONTACTO*/
@media(min-width: 768px) and (max-width: 800px) and
    (max-height:1024px){
        body{
            main{
                div{
                    h2{
                        width: 768px;
                    }
                }
                form{
                    margin-left: 0%;
                    margin-left: 7px;

                    span{
                        textarea{
                            position: absolute;
                            margin-bottom: 100px;
                            margin-top: 20px;
                            width: 350px;
                            height: 150px;
                            margin-right: 250px;
                        }

                        #botonEnviar{
                            margin-top: 225px;
                        }
                    }
                }
            }
        }
    }
/*/CONTACTO*/


/*COMPRA*/
@media(min-width: 768px) and (max-width: 800px) and
    (max-height:1024px){
        body{
            main{
                div{
                    h2{
                        width: 768px;
                    }
                }
                .todasEnCompra{
                    display: grid;
                    grid-template-rows: auto auto auto auto
                    auto auto auto auto auto auto;
                    row-gap: 0px;
                    grid-template-columns: 768px;
                    grid-template-areas: 
                    "foto1"
                    "descripcion1"
                    "foto2"
                    "descripcion2"
                    "foto3"
                    "descripcion3"
                    "foto4"
                    "descripcion4"
                    "foto5"
                    "descripcion5";
                    
                    .fotoCasa1{
                        grid-area: foto1;
                        @include tabletFotos;

                    }
                    .descripcionCasa1{
                        grid-area: descripcion1;
                        @include tabletDescripcion;
                        

                        .textoCasa1{
                            border-top: none;
                            margin-top: 30px;
                        }

                        #detallesCasaUno{
                            border: 1px solid black;
                            margin-top: 50px;
                            width: 648px;
                        }

                        #botonDetalles{
                            margin-top: 0px;
                            margin-left: 450px;
                        }
                    }
                    
        
                    .fotoCasa2{
                        grid-area: foto2;
                        @include tabletFotos;

                    }
                    .descripcionCasa2{
                        grid-area: descripcion2;
                        @include tabletDescripcion;
                        

                        .textoCasa2{
                            border-top: none;
                            margin-top: -30px;
                        }

                        #detallesCasaDos{
                            border: 1px solid black;
                            width: 648px;
                            margin-top: 80px;
                        }

                        #botonDetalles2{
                            margin-top: 10px;
                            margin-left: 450px;
                        }
                    }

                    .fotoCasa3{
                        grid-area: foto3;
                        @include tabletFotos;

                    }
                    .descripcionCasa3{
                        grid-area: descripcion3;
                        @include tabletDescripcion;
                        

                        .textoCasa3{
                            border-top: none;
                            margin-top: 30px;
                        }

                        #detallesCasaTres{
                            border: 1px solid black;
                            margin-top: 60px;
                            width: 648px;
                            

                            .col{
                                padding-right: 0%;
                            }
                        }

                        #botonDetalles3{
                            margin-top: 0px;
                            margin-left: 450px;
                        }
                    }

                    .fotoCasa4{
                        grid-area: foto4;
                        @include tabletFotos;

                    }
                    .descripcionCasa4{
                        grid-area: descripcion4;
                        @include tabletDescripcion;
                        

                        .textoCasa4{
                            border-top: none;
                            margin-top: 30px;
                        }

                        #detallesCasaCuatro{
                            border: 1px solid black;
                            margin-top: 60px;
                            width: 648px;
                            

                            .col{
                                padding-right: 0%;
                            }
                        }

                        #botonDetalles4{
                            margin-top: 0px;
                            margin-left: 450px;
                        }
                    }

                    .fotoCasa5{
                        grid-area: foto5;
                        @include tabletFotos;

                    }
                    .descripcionCasa5{
                        grid-area: descripcion5;
                        @include tabletDescripcion;
                        

                        .textoCasa5{
                            border-top: none;
                            margin-top: 40px;
                        }

                        #detallesCasaCinco{
                            margin-top: 60px;
                            width: 648px;
                            
                            .col{
                                padding-right: 0%;
                            }
                        }

                        #botonDetalles5{
                            margin-top: 0px;
                            margin-left: 450px;
                        }
                    }   
                }

            }

        }
    }    
/*/COMPRA*/


/*CONTACTO*/
@media(min-width: 768px) and (max-width: 800px) and
    (max-height:1024px){
        body{
            main{
                form{
                    margin-left: 0%;
                    margin-left: 7px;
                    width: 725px;

                    span{
                        textarea{
                            margin-left: 10%;
                        }
                    }
                }
            }
        }

    }
/*/CONTACTO*/


/*ALQUILER*/
@media(min-width: 768px) and (max-width: 800px) and
    (max-height:1024px){
        body{
            width: 768px;
            main{
                width: 768px;
                div{
                    h2{
                        width: 768px;
                    }
                }
                .todasEnAlquiler{
                    width: 768px;
                    display: grid;
                    grid-template-rows: auto auto auto auto
                    auto auto auto auto auto auto;
                    row-gap: 0;
                    grid-template-columns: 768px;
                    grid-template-areas: 
                    "fotoAlquiler1"
                    "descripcionAlquiler1"
                    "fotoAlquiler2"
                    "descripcionAlquiler2"
                    "fotoAlquiler3"
                    "descripcionAlquiler3"
                    "fotoAlquiler4"
                    "descripcionAlquiler4"
                    "fotoAlquiler5"
                    "descripcionAlquiler5";
                    
                    .fotoAlquiler1{
                        grid-area: fotoAlquiler1;
                        @include tabletFotos;

                        .primeraFoto{
                            width: 646px;
                        }

                    }
                    .descripcionAlquiler1{                        
                        grid-area: descripcionAlquiler1;
                        @include tabletDescripcion;
                        

                        .textoAlquiler1{
                            border-top: none;
                            margin-top: 30px;
                        }

                        #detallesAlquilerUno{
                            border: 1px solid black;
                            margin-top: 60px;
                            width: 648px;
                        }

                        #botonDetallesAlquiler1{
                            margin-top: 0px;
                            margin-left: 450px;
                        }
                    }
                    
        
                    .fotoAlquiler2{                       
                        grid-area: fotoAlquiler2;
                        @include tabletFotos;

                        .segundaFoto{
                            width: 646px;
                        }

                    }
                    .descripcionAlquiler2{
                        grid-area: descripcionAlquiler2;
                        @include tabletDescripcion;
                        

                        .textoAlquiler2{
                            border-top: none;
                            margin-top: -30px;
                        }

                        #detallesAlquilerDos{
                            border: 1px solid black;
                            margin-top: 60px;
                            width: 648px;
                        }

                        #botonDetallesAlquiler2{
                            margin-top: 10px;
                            margin-left: 450px;
                        }
                    }

                    .fotoAlquiler3{
                        grid-area: fotoAlquiler3;
                        @include tabletFotos;

                        .terceraFoto{
                            width: 646px;
                        }
                    }
                    .descripcionAlquiler3{
                        grid-area: descripcionAlquiler3;
                        @include tabletDescripcion;
                        

                        .textoAlquiler3{
                            border-top: none;
                            margin-top: 30px;
                        }

                        #detallesAlquilerTres{
                            border: 1px solid black;
                            width: 648px;
                            margin-top: 60px;
                        }

                        #botonDetallesAlquiler3{
                            margin-top: 0px;
                            margin-left: 450px;
                        }
                    }

                    .fotoAlquiler4{
                        grid-area: fotoAlquiler4;
                        @include tabletFotos;

                        .cuartaFoto{
                            width: 646px;
                        }

                    }
                    .descripcionAlquiler4{
                        grid-area: descripcionAlquiler4;
                        @include tabletDescripcion;
                        

                        .textoAlquiler4{
                            border-top: none;
                            margin-top: -20px;
                        }

                        #detallesAlquilerCuatro{
                            border: 1px solid black;
                            width: 648px;
                            margin-top: 60px;
                        }

                        #botonDetallesAlquiler4{
                            margin-top: 0px;
                            margin-left: 450px;
                        }
                    }

                    .fotoAlquiler5{
                        grid-area: fotoAlquiler5;
                        @include tabletFotos;

                        .quintaFoto{
                            width: 646px;
                        }

                    }
                    .descripcionAlquiler5{
                        grid-area: descripcionAlquiler5;
                        @include tabletDescripcion;
                        

                        .textoAlquiler5{
                            border-top: none;
                            margin-top: -20px;
                        }

                        #detallesAlquilerCinco{
                            border: 1px solid black;
                            width: 648px;
                            margin-top: 60px;
                        }

                        #botonDetallesAlquiler5{
                            margin-top: 0px;
                            margin-left: 450px;
                        }
                    }   
                }

            }

        }
    } 
/*/ALQUILER*/