
/* ELEMENTOS DE CSS */
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* INDEX */
ul{
    /* ESPACIADO ENTRE PALABRAS */
    word-spacing: 20px;
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    margin-top: 20px;
}
li{
    /* BOX MODELING: BORDES Y DISPLAY */
    /* MODIFICACIONES TEXTO: ESTILO, WEIGHT, TAMAÑO */
    /* BACKGROUND: COLOR DE FONDO */
    font-weight: bolder;
    font-style: oblique;
    border: 2px solid black;
    border-radius: 4rem;
    font-size: 24px;
    background-color: #bae8e8;
    margin-right: 30px;
    padding: 10px;
    text-align: center;
}
.ancla{
    /* MODIFICACION DEL SUBRAYADO DEL  TEXTO */
    /* SE USA EN TODAS LAS PAGINAS */
    text-decoration: none;
    
}
    /*ANIMACIONES*/
.item{
    transition: all 2s;
}
    /* ANIMACIONES SOBRE ITEM DE LISTA */
.item:hover{
    background-color: #3baea0;
    width: 130px;
}
h1{
    /* TAMAÑO DE LA LETRA, ESTILO Y ALINEACION DEL ENCABEZADI */
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    font-family: 'MonteCarlo', cursive;
    /* background-color: #007cb9; */
    /* background: rgb(9,181,217);
    background: linear-gradient(0deg, rgba(9,181,217,1) 0%, rgba(0,124,185,1) 100%); */
    background: rgb(70,186,242);
    background: radial-gradient(circle, rgba(70,186,242,1) 0%, rgba(255,255,255,1) 85%);
    /* border: 2px solid black; */
    margin-left: 25%;
}
.carousel-inner{
    height: 800px;
}
#fotoCarrousel{
    height: 700px;
}
div h2{
    /* ALINEACION, FONDO, COLOR Y ESTILO DEL ENCABEZADO */
    text-align: center;
    background-color: white;
    color: black;
    font-style: italic;
    font-family: 'MonteCarlo', cursive;
    font-size: 4rem;
}
div p{
    /* COLOR, PADDING Y FAMILIA DE LA FUENTE DEL PARRAFO */
    color: black;
    font-size: 20px;
    text-align: center  ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
section h2{
    /* COLOR Y ESTILO DEL ENCABEZADO */
    margin-top: 70px;
    color: #0092ca;
    font-style: italic;
    text-align: center;

}
.animacion{
    background-color: black;
}
 section p{
    /* FAMILIA DE LA FUENTE, ESPACIADO ENTRE RENGLONES Y ALINEADO DEL PARRAFO */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}
.introduccion{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fondo{
    background-color: black;
    width: 30px;
    height: 50px;
}
footer{
    /* FONDO DEL FOOTER Y DISPLAY */
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(70,186,242);
    background: linear-gradient(90deg, rgba(70,186,242,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 46%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 48%, rgba(255,255,255,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 51%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 53%, rgba(255,255,255,1) 54%, rgba(255,255,255,1) 55%, rgba(255,255,255,1) 56%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 58%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 60%, rgba(70,186,242,1) 100%);
}
.miMapa{
    margin-top: 50px;
}

.linkFooter{
    text-decoration: none;
    word-spacing: normal;
    font-size: 26px;
}
/* body{
    background-color: #feffdf;
}  */
header img{
    /* LOGO SIN NECESIDAD DE MODIFICAR EL WIDTH */
    height: 100px;
    margin-bottom: 10px;
}
.redSocial{
    width: 50px;
    margin-left: 30px;
}
.fotosPatrocinios{
    width: 100px;
}
h3{
    margin-top: 30px;
    margin-left: 624px;
    font-size: 24px;
}
.fotosPatrocinios{
    margin-left: 45%;
    margin-top: 30px;
}
.divLogo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.marcas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 150px;
}
.nombreMarcas{
    font-weight: bold;
    margin-left: 45px;
}

/* /INDEX */
/* CONTACTO */
span{
    display: block;
    padding-top: 30px;
}

form{
    border: 2px solid black;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    margin-left: 25%;
}
legend{
    font-size: 28px;
    text-decoration: underline;
    text-align: center;
    padding: 50px;
    padding-bottom: 10px;
    
}
label{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
 input{
    margin-left: 10px;
    font-size: 20px;
}
textarea{
    font-size: 20px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.miBoton{
    margin-left: 100px;
    margin-bottom: 30px;
    background-color: #bae8e8;
    padding: 10px;
    border: 2px solid black;
    border-radius: 30px;

}

/* /CONTACTO */




/* COMPRA */
.casaCatalogo{
    width: 400px;
}
/* COLOCAR A LA DERECHA DE CADA FOTO CON GRID */
.todasEnCompra{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr auto;
    row-gap: 20px;
    grid-template-areas:
    "foto1 descripcion1"
    "foto2 descripcion2"
    "foto3 descripcion3"
}
.descripcionCasa1{
    font-size: 20px;
    text-align: left;
    grid-area: descripcion1;
    border: 2px solid black;
    border-left: none;
    height: 426px;
}
.fotoCasa1{
    grid-area: foto1;
    border: 2px solid black;
    height: 426px;

}
.primeraFoto{
    height: 422px;
    width: 646px;
}
#botonDetalles{
    margin-left: 85%;
    margin-top: 200px;
    font-size: 20px;
}

.descripcionCasa2{
    font-size: 20px;
    text-align: left;
    grid-area: descripcion2;
    border: 2px solid black;
    border-left: none;
}
.fotoCasa2{
    grid-area: foto2;
    border: 2px solid black;
    height: 363px;

}
.segundaFoto{
    height: 300px;
    width: 646px;
}
#botonDetalles2{
    margin-left: 85%;
    margin-top: 110px;
    font-size: 20px;
}
#botonDetalles3{
    margin-left: 85%;
    margin-top: 640px;
    font-size: 20px;
}

.fotoCasa3{
    grid-area: foto3;
    width: 650px;
    border: 2px solid black;
    height: 960px;

}
.terceraFoto{
    width: 646px;
}
.descripcionCasa3{
    font-size: 20px;
    text-align: left;
    grid-area: descripcion3;
    border: 2px solid black;
    border-left: none;
    height: 960px;
}


/* /COMPRA */

/* ALQUILER */
.todasEnAlquiler{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr auto;
    row-gap: 20px;
    grid-template-areas:
    "fotoAlquiler1 descripcionAlquiler1"
    "fotoAlquiler2 descripcionAlquiler2"
    "fotoAlquiler3 descripcionAlquiler3"
}
.fotoAlquiler1{
    grid-area: fotoAlquiler1;
    border: 2px solid black;
    height: 426px;
}
.primeraFoto{
    height: 422px;
}
.descripcionAlquiler1{
    grid-area: descripcionAlquiler1;
    border: 2px solid black;
    border-left: none;
}
#botonDetallesAlquiler1{
    margin-left: 85%;
    margin-top: 180px;
    font-size: 20px;
}

.fotoAlquiler2{
    grid-area: fotoAlquiler2;
    border: 2px solid black;
    height: 360px;
}
.segundaFoto{
    height: 356px;
}
.descripcionAlquiler2{
    grid-area: descripcionAlquiler2;
    border: 2px solid black;
    border-left: none;
}
#botonDetallesAlquiler2{
    margin-left: 85%;
    margin-top: 120px;
    font-size: 20px;
}

.fotoAlquiler3{
    grid-area: fotoAlquiler3;
    border: 2px solid black;
    height: 425px;
}
.terceraFoto{
    height: 421px;
}

.descripcionAlquiler3{
    grid-area: descripcionAlquiler3;
    border: 2px solid black;
    border-left: none;
}
#botonDetallesAlquiler3{
    margin-left: 85%;
    margin-top: 180px;
    font-size: 20px;
}






/* /ALQUILER */

/* GALERÍA */
.contenedorFotos{
    display: flex;
    flex-flow: row wrap;
}
#galeriaPrimera{
    width: 850px;
}
#img-8{
    width: 600px;
}
#img-12{
    width: 600px;
}



/* VERSION MOBILE */
@media(max-width: 375px) and (max-height: 812px){
    .contenedorPadre{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    h1{
        font-size: 30px;
        margin-left: 0%;
        margin-right: 30px;
        
    }
    .quienesSomos{
        text-align: center;
    }
    div h2{
        text-align: left;
        font-size: 35px;
    }
    ul{
        justify-content: flex-start;
        
    }
    .item{
        font-size: 10px;
    }
    /* COMPRA */
    .todasEnCompra{
        display: grid;
        grid-template-rows: auto auto auto auto
        auto auto;
        row-gap: 0;
        grid-template-columns: 375px;
        grid-template-areas: 
        "foto1"
        "descripcion1"
        "foto2"
        "descripcion2"
        "foto3"
        "descripcion3";
    }
    .fotoCasa1{
        border-bottom: none;
        margin-top: 10px;
        border-top: 2px solid black;
        height: 200px;
    }
    .primeraFoto{
        height: 398px;
    }
    .fotoCasa2{
        border-bottom: none;
        margin-top: 10px;
        border-top: 2px solid black;
        height: 200px;
        width: 370px;
    }
    .fotoCasa3{
        width: 370px;
        border-bottom: none;
        margin-top: 10px;
        border-top: 2px solid black;
        border-right: 2px solid black;
        height: 450px;
    }
    .descripcionCasa1{
        width: 375px;
        border-top: none;
        border-left: 2px solid black;
        border-right: 2px solid black;
        margin-top: 0%;
        margin-bottom: 30px;
        padding-top: 20px;
        padding-bottom: 10px;
        height: 800px;
        
    }
    .textoCasa1{
        margin-top: 200px;
    }
    #botonDetalles{
        margin-top: 0%;
        margin-left: 60%;
    }
    .descripcionCasa2{
        width: 370px;
        border-top: none;
        border-left: 2px solid black;
        border-right: 2px solid black;
        margin-bottom: 30px;
        padding-bottom: 30px;
        height: 800px;
        
    }
    .textoCasa2{
        margin-top: 200px;
    }
    #botonDetalles2{
        margin-top: 0%;
        margin-left: 60%;
    }
    .descripcionCasa3{
        width: 370px;
        border-top: none;
        border-left: 2px solid black;
        border-right: 2px solid black;
        margin-bottom: 30px;
        padding-top: 0%;
        padding-bottom: 20px;
        height: 800px;
        
    }
    .textoCasa3{
        margin-top: 0px;
    }
    #botonDetalles3{
        margin-top: 0%;
        margin-left: 60%;
    }
    .fotoCasa1 img{
        width: 371px;
        margin-bottom: 0%;
    }
    .fotoCasa2 img{
        width: 366px;
    }
    .fotoCasa3 img{
        width: 366px;
        margin-bottom: 0%;
    }

    /* /COMPRA */

    /* ALQUILER */
    .todasEnAlquiler{
        display: grid;
        grid-template-rows: auto auto auto auto
        auto auto;
        grid-template-columns: 374px;
        row-gap: 0;
        grid-template-areas:
        "fotoAlquiler1"
        "descripcionAlquiler1"
        "fotoAlquiler2"
        "descripcionAlquiler2"
        "fotoAlquiler3"
        "descripcionAlquiler3"
    }
    .fotoAlquiler1{
        border-bottom: none;
        margin-top: 10px;
        border-top: 2px solid black;
        height: 200px;
        width: 363px;
    }
    .descripcionAlquiler1{
        width: 370px;
        border-top: none;
        border-left: 2px solid black;
        margin-bottom: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
        
    }
    .textoAlquiler1{
        margin-top: 200px;
    }
    #botonDetallesAlquiler1{
        margin-top: 50px;
        margin-left: 200px;
    }
    .fotoAlquiler2{
        border-bottom: none;
        margin-top: 10px;
        border-top: 2px solid black;
        height: 200px;
    }
    .descripcionAlquiler2{
        width: 370px;
        border-top: none;
        border-left: 2px solid black;
        margin-bottom: 30px;
        padding-bottom: 30px;
        height: 800px;
    }
    .textoAlquiler2{
        margin-top: 175px;
    }
    #botonDetallesAlquiler2{
        margin-top: 20px;
        margin-left: 200px;
    }
    .fotoAlquiler3{
        border-bottom: none;
        margin-top: 10px;
        border-top: 2px solid black;
        height: 200px;
    }
    .descripcionAlquiler3{
        width: 370px;
        border-top: none;
        border-left: 2px solid black;
        margin-bottom: 30px;
        padding-top: 20px;
        padding-bottom: 30px;
        height: 800px;

    }
    .textoAlquiler3{
        margin-top: 225px;
    }
    #botonDetallesAlquiler3{
        margin-top: 25px;
        margin-left: 200px;
    }
    .fotoAlquiler1 img{
        width: 368px;
    }
    .fotoAlquiler2 img{
        width: 370px;
    }
    .fotoAlquiler3 img{
        width: 370px;
    }
    /* /ALQUILER */
    /* CONTACTO */
    form{
        margin-left: 0%;
        margin-right: 0px;
        width: 345px;
    }
    legend{

        font-size: 20px;
    }
    textarea{
        margin-left: 0%;
        width: 300px;
    }
    /* /CONTACTO */
    /* GALERÍA */
    .contenedorFotos{
        flex-flow: column wrap;
    }
    #galeriaPrimera{
        width: 375px;
    }
    #galeriaSegunda{
        width: 375px;
    }
    #galeriaTercera{
        width: 375px;
    }
    #img-7{
        width: 375px;
    }
    #img-8{
        width: 375px;
    }
    #img-9{
        width: 375px;
    }
    #galeriaPrimera, #galeriaSegunda, #galeriaTercera, #img-7, #img-8, #img-9 ,#img-11, #img-12, #ultimaFoto, #llaves{
        width: 375px;
    }

    /* /GALERÍA */


 /*VERSION IPAD 768X1024 */
}
@media(min-width: 400px) and (max-width: 768px) and
    (max-height:1024px){
    /* INDEX */
    .contenedorPadre{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "header"
        "main"
        "footer";
    }
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }

    h1{
        margin-left: 30px;
        font-size: 60px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        margin-left: 5%;
    }
    .quienesSomos{
        width: 765px;
    }
    iframe{
        margin-left: 25px;
        margin-right: 0px;
        width: 300px;
    }
    .linkFooter{
        margin-right: 0%;
    }
    .marcas{
        margin-right: 35px;
    }
    #ciberseguridad{
        margin-left: 70px;
    }
    #pintureria{
        margin-right: 0px;
        margin-left: 75px;
    }
    #ventanas{
        margin-left: 100px;
    }
    #marcaVentanas{
        margin-left: 50px;
    }
    /* INDEX */
    /* COMPRA */
    .todasEnCompra{
        display: grid;
        grid-template-rows: auto auto auto auto
        auto auto;
        row-gap: 0;
        grid-template-columns: 768;
        grid-template-areas: 
        "foto1"
        "descripcion1"
        "foto2"
        "descripcion2"
        "foto3"
        "descripcion3";
    }
    .todasEnCompra img{
        border: 2px solid black;
        border-bottom: none;
    }
    .fotoCasa1{
        border: none;
        margin-top: 10px;
        margin-left: 60px;
        height: 400px;
        
    }
    .descripcionCasa1{
        width: 640px;
        border-top: none;
        border-left: 2px solid black;
        margin-left: 60px;
        margin-top: 0%;
        margin-bottom: 30px;
        padding-bottom: 30px;
        height: 500px;
        
    }
    .textoCasa1{
        margin-top: 50px;
    }
    #botonDetalles{
        margin-top: 100px;
        margin-left: 450px;
    }
    .fotoCasa2{
        border: none;
        margin-top: 10px;
        margin-left: 60px;
        height: 350px;
    }
    .descripcionCasa2{
        width: 640px;
        border-top: none;
        border-left: 2px solid black;
        margin-left: 60px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        height: 500px;
        
    }
    .textoCasa2{
        margin-top: 50px;
    }
    #botonDetalles2{
        margin-top: 60px;
        margin-left: 450px;
    }
    .fotoCasa3{
        border: none;
        margin-top: 10px;
        margin-left: 60px;
        height: 400px;
    }
    .descripcionCasa3{
        width: 640px;
        border-top: none;
        border-left: 2px solid black;
        margin-left: 60px;
        margin-bottom: 30px;
        padding-top: 0%;
        padding-bottom: 30px;
        height: 600px;
        
    }
    .textoCasa3{
        margin-top: 70px;
    }
    #botonDetalles3{
        margin-left: 450px;
        margin-top: 60px;
    }
    /* /COMPRA */

    /* ALQUILER */
    .todasEnAlquiler{
        display: grid;
        grid-template-rows: auto auto auto auto
        auto auto;
        row-gap: 0;
        grid-template-columns: 768px;
        grid-template-areas: 
        "fotoAlquiler1"
        "descripcionAlquiler1"
        "fotoAlquiler2"
        "descripcionAlquiler2"
        "fotoAlquiler3"
        "descripcionAlquiler3";
    }
    .todasEnAlquiler img{
        border: 2px solid black;
        border-bottom: none;
    }
    .fotoAlquiler1{
        border: none;
        margin-top: 10px;
        margin-left: 60px;
        height: 400px;
        
    }
    .textoAlquiler1{
        margin-top: 50px;
    }
    .primeraFoto{
        width: 640px;
    }
    #botonDetallesAlquiler1{
        margin-top: 50px;
        margin-left: 450px;
    }
    .descripcionAlquiler1{
        width: 640px;
        border-top: none;
        border-left: 2px solid black;
        margin-left: 60px;
        margin-top: 0%;
        margin-bottom: 30px;
        padding-bottom: 30px;
        height: 500px;
        
    }
    .fotoAlquiler2{
        border: none;
        margin-top: 10px;
        margin-left: 60px;
        height: 350px;
    }
    .descripcionAlquiler2{
        width: 640px;
        border-top: none;
        border-left: 2px solid black;
        margin-left: 60px;
        margin-bottom: 30px;
        padding-bottom: 30px;
        height: 500px;
        
    }
    .segundaFoto{
        width: 640px; 
    }
    .textoAlquiler2{
        margin-top: 50px;
    }
    #botonDetallesAlquiler2{
        margin-left: 450px;
        margin-top: 80px;
    }
    .fotoAlquiler3{
        border: none;
        margin-top: 10px;
        margin-left: 60px;
        height: 350px;
    }
    .terceraFoto{
        width: 640px;
    }
    .textoAlquiler3{
        margin-top: 100px;
    }
    #botonDetallesAlquiler3{
        margin-left: 450px;
        margin-top: 50px;
    }
    .descripcionAlquiler3{
        width: 640px;
        border-top: none;
        border-left: 2px solid black;
        margin-left: 60px;
        margin-bottom: 30px;
        padding-top: 0%;
        padding-bottom: 30px;
        height: 550px;
        
    }
    /* /ALQUILER */
    /* GALERÍA */
    #galeriaPrimera{
        width: 768px;
    }
    #galeriaSegunda{
        width: 768px;
    }
    #ultimaFoto{
        width: 768px;
    }
    .back{
        width: 768px;
    }
    .interior{
        width: 768px;
    }
    #img-7{
        width: 768px;
    }

    /* /GALERÍA */
    /* CONTACTO */
    form{
        margin-left: 0%;
        margin-left: 7px;
        width: 725px;
    }
 }